server:
  port: 8000
  servlet:
    contextPath: /api/v1

spring:
  h2:
    console:
      enabled: true
      path: /h2
  config:
    activate:
      on-profile: test
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        default_batch_fetch_size: 100
    defer-datasource-initialization: true
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password:
  sql:
    init:
      encoding: utf-8
      mode: always
      data-locations: classpath:db/data.sql
  security:
    basic:
      enabled: false
    oauth2:
      client:
        registration:
          google:
            client-id: 3edc3ecd
            client-secret: 3edc3ec3ce
            scope: profile, email
            redirect-uri: http://localhost:8000/api/v1/login/oauth2/code/google

          naver:
            client-id: 3ecd3ce
            client-secret: 3edc3ecd
            redirect-uri: http://localhost:8000/api/v1/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: email
            client-name: Naver

          kakao:
            client-id: asdfasdqres1231csav
            client-secret: 32c3cf3f4v45tgb5edc2d
            redirect-uri: http://localhost:8000/api/v1/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: account_email
            client-name: Kakao

        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.na
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

config:
  base:
    url: http://localhost:5173
  webhook:
    url: adsfasdfasdfasdf